*{
    margin: 0;
    padding:0;
}
:root{
    --main-white: #fff;
    --main-green: #7FB069;
    --main-yellow: #FBB04C;
}
html{
    scroll-behavior: smooth;
}
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
body{
    font-family: 'poppins', sans-serif;
    font-size:1.5rem;
    color: white;
}
#navbar{
    display:flex;
    justify-content: flex-end;
    position: fixed;
    background-color:var(--main-white);
    width: 100%;
}
.nav-list a{
    display:block;
    padding: 1em;
    text-decoration: none;
    color:#333;
}
.nav-list a:hover {
    background: var(--main-yellow);
    color: white;
  }
ul{
    list-style: none;
    display: flex;
    margin-right: 2rem;
}
#welcome-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:var(--main-green);

}
#hi{
    margin: 1rem;
    font-size: 22px;
    color: white;
    
}
h1{
    font-size: 4rem;
    font-weight: 800;
}
#projects{
    padding: 2.5em;
}
#project-list{
    display: flex;
    justify-content:space-evenly;
    
    
}
#projects h1{
    color: black;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    
}
figure{
    display: flex;
    flex-direction: column;
    width: 18rem;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px 5px 0px 0px;
    
}
figcaption {
    background-color: white;
    color: #333;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom:1rem;
    border-radius: 5px 5px 0px 0px;
}
img {
    max-width: 100%;
    border-radius: 5px 5px 0px 0px;
}
h1{
    color: white;
}

#contact{
    display: flex;
    flex-direction: column;
    padding: 5rem;
    flex-wrap: wrap;
    background-color:var(--main-yellow);
    text-align: center;
    
}
#contact-links{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}
.contact-details {
    transition: transform 0.3s ease-out;
  }
.contact-details:hover {
    transform: translateY(8px);
  }
#contact p{
    padding-bottom:2rem;
}


footer{
    height: 6rem;
    background-color: #E69E3D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    color: white;
}

@media screen and (width: 600px) {
    body {
        color: red;
    }
}

