*{
    margin: 0;
    padding:0;
}
:root{
    --main-white: #fff;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'poppins', sans-serif;
    font-size:1.5rem;
    color: white;
}
#navbar{
    display:flex;
    justify-content: flex-end;
    position: fixed;
    background-color:maroon;
    width: 100%;
}
.nav-list a{
    display:block;
    padding: 1em;
    text-decoration: none;
    color:antiquewhite;
}
ul{
    list-style: none;
    display: flex;
    margin-right: 2rem;
}
#welcome-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;

}
#hi{
    margin: 1rem;
    font-size: 22px;
    color: white;
    
}
h1{
    font-size: 4rem;
    font-weight: 800;
}
#projects{
    padding: 2.5em;
}
#project-list{
    display: flex;
    justify-content:space-evenly;
    
}
#projects h1{
    color: black;
    text-align: center;
    font-size: 2rem;
    
}
figure{
    display: flex;
    flex-direction: column;
    border: 0.5rem outset pink;
    width: 18rem;
    
}
figcaption {
    background-color: #222;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom:0px;
}
img {
    max-width: 100%;
}
h1{
    color: white;
}

#contact{
    display: flex;
    flex-direction: column;
    padding: 5rem;
    flex-wrap: wrap;
    background-color: darkblue;
    text-align: center;
    
}
#contact-links{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: darkblue; 
    flex-direction: row;
}
#contact p{
    padding-bottom:2rem;
}


footer{
    height: 6rem;
    background-color: darkcyan;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    color: white;
}

@media screen and (width: 600px) {
    body {
        color: red;
    }
}

