:root {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

a > img {
  height: 18rem;
  margin: 4px;
}


h1{
  font-family: 'poppins';
  font-weight: 600;
  text-align: center;
  font-size: 3rem;
  margin: 0px;
}
header{
  display: flex;
  justify-content: center;
  margin-top: 50px;

}
.gallery{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  margin-bottom: 50px;
}

img{
  border-radius: 10px;
}
#hero {
  height: 100vh;
  background-image: url("../Images/droid-Hero@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}
p{
  font-family: 'poppins';
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  color: white;
  margin: 0px;
}
h1 {
  color: white;
}

.male, .female, .other, .inactive{
  background-color: #EDEDEB;
  color: #707070 ;
  font-size: 1.5rem;
  font-family: poppins;
  border-radius: 4px;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  border: none;

}
.male, .female, .other, .inactive a:hover{
  cursor: pointer;
}

.active{
  background-color: #7fb16a;
  color: white;
  
}