header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemonGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.scene {
  width: 200px;
  height: 260px;
  border: 1px solid #CCC;
  margin: 10px;
  perspective: 600px;
  border-radius: 5px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
  border-radius: 5px;
}

.card__face--front {
  background:  #e03a3e;
}

.card__face--back {
  background: blue;
  transform: rotateY(180deg);
}
.frontImg{
  width: 150px;
  margin-top: 20px;
}
.pokeP{
  font-size: 25px;
  font-family: poppins;
  font-weight: 400;
}

li {
  text-align: left;
  font-family: poppins;
  font-weight: 400;
}