:root {
    box-sizing: border-box;
    padding: 0em;
    margin: 0rem;

}
body{
    background-color: white;
}
#hero {
    height: 90vh;
    background-image: url("../Images/ships-Hero@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
}

li {
    list-style-type: none;
    font-family: poppins;
    font-size: 1.3rem;
}

header, footer {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: white;
}
footer {
    background-color:#ffc72d;
}

.container{
    display: flex;
    margin: 2rem;
    justify-content: space-evenly;
}
.nav {
    border: solid 2px;
    padding-right: 1rem;
    background-color: #EDEDEB;
    padding: 1rem;
    border-radius: 10px;
    font-size: 2rem;
}

.modal-content {
    background-color: white;
    border-radius: 5px;
    


}

h1{
    font-family: 'poppins';
    color: #ffc72d;
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: 600;
}

h2{
    font-family: 'poppins';
    color: #707070;
    font-size: 2rem;
    margin-top: .5rem;
    font-weight:600;
    margin-bottom: 1rem;

}

.modalImage{
    border-radius: 5px 5px 0px 0px;
    
}

h6{
    color: black;
    font-family: 'poppins';
    font-size: 1.5rem;
    padding: .9rem;
    text-align: center;
}

img {
    border-radius: 5px;
    width: 75%;
}
p{
    font-family: 'poppins';
    font-weight: 400;
    text-align: center;
    font-size: 1rem;
    color: white;
    margin: 0px;
  }
  h1 {
    color: white;
    text-align: center;
  }