:root{
    margin: 0px;
    padding: 0px;
}  

body {
    background:linear-gradient(135deg, #F5515F 0%,#A1051D 100%);
}

h1{
    font-family: poppins;
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2.5rem;
}

Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#buttonHeader{
   align-self: center; 
}

button{
    padding: 10px;
    background-color: transparent;
    border: solid white;
    color: white;
    font-size: 20px;
    margin-left: 5px;
    font-family: poppins;
    -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

button:hover{
    background-color: white;
    color: #f14e5c;
    cursor: pointer;
}

.senators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 25px;
}
.card{
    display: flex;
    flex-direction: column;
    background-color:white;
    width: 200px;
    margin: 10px;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0px 3px 6px #00000029;

}
.cardName {
    font-family: poppins;
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow-wrap: break-word; 
}
.cardParty {
    font-family: poppins;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow-wrap: break-word; 
    display: flex;
    justify-content: flex-end;
}
.cardImage {
    border-radius: 10px;
    margin-bottom: 10px;
}


p{
    margin: 0px;
}

.fa-democrat {
    color: #1d87c7;
}

.fa-republican {
    color: #e03a3e;
}

.fa-star {
    color: #f8c940;
}


