:root{
    margin: 0px;
    padding: 0px;
}  

body {
    background-color: white;
}

h1{
    font-family: poppins;
    color: black;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.senators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    display: flex;
    flex-direction: column;
    background-color:white;
    width: 200px;
    margin: 10px;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0px 3px 6px #00000029;

}
.cardName {
    font-family: poppins;
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow-wrap: break-word; 
}
.cardParty {
    font-family: poppins;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow-wrap: break-word; 
    display: flex;
    justify-content: flex-end;
}
.cardImage {
    border-radius: 10px;
    margin-bottom: 10px;
}


p{
    margin: 0px;
}

.fa-democrat {
    color: #1d87c7;
}

.fa-republican {
    color: #e03a3e;
}

.fa-star {
    color: #f8c940;
}
